# SYCL files
*.sycl

# YCM files
*.ycm_extra_conf.py
*.ycm_extra_conf.pyc

# build folder
build/

# Compiled files
*.o
*.so
*.dll
*.a
*.lib
*.exe
*.out

# Vim
*~
*.tmp
*.bak
*.swp

# HTML/PDF output from documentation
.html
.pdf
