language: cpp
sudo: required
dist: xenial

os:
  - linux

branches:
  only:
    - master

compiler:
  - gcc
  - clang

matrix:
  fast_finish: true

before_install:
  - sudo apt-get update -q
  - sudo apt-get install ocl-icd-opencl-dev opencl-headers ninja-build -y

install:
  - bash .travis/build_computecpp.sh

script:
    - mkdir build && cd build
    - cmake -GNinja ../ -DComputeCpp_DIR=/tmp/computecpp -DCOMPUTECPP_SDK_BUILD_TESTS=1
    - ninja
    - COMPUTECPP_TARGET="host" ctest -V
